html {
  overflow: hidden;
}

.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.default_text {
  line-height:2.5rem;
  font-size:2rem;
}

.ruler {
  margin:9px;
}

.error_wrapper {
  white-space: pre-wrap;
  display: flex;
}
